.button {
  background-color: #7e8d85;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #7e8d85;
}
.header h1 {
  display: flex;
  justify-content: space-around;
  background: #7e8d85;
  align-items: center;
  margin: 0px;
  font-size: 6rem;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
.header div.logo {
  display: flex;
  font-size: 30px;
  padding-bottom: 1%;
}
.header div.links {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  width: 40%;
  font-size: 6rem;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
.header a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}
.header img.devlogo {
  max-width: 10%;
  height: auto;
}
.body {
  background-color: #d1d5de;
  width: 1% 75%;
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid #684943;
}
.firstP {
  display: flex;
  border-top: 10px solid #684943;
}
.firstP p {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin-left: 14%;
  margin-right: 10%;
  margin-top: 5%;
}
.firstP img {
  margin-right: 10%;
  margin-top: 5%;
  width: 100%;
  height: 100%;
}
.firstP .buynow {
  background-color: #7e8d85;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
}
.secondP {
  display: flex;
  padding-bottom: 5%;
}
.secondP p {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin-left: 14%;
  margin-right: 10%;
  margin-top: 5%;
}
.secondP img {
  height: 60vh;
  margin-left: 14%;
}
.secondP .buynow {
  background-color: #7e8d85;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
}
footer {
  background-color: #7e8d85;
  display: flex;
}
footer h1 {
  margin: 0px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
}
footer logo2 {
  display: flex;
  font-size: 30px;
  padding-bottom: 1%;
}
footer img {
  max-width: 5%;
  height: auto;
}
footer .links2 {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  width: 40%;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  margin-left: 50%;
}
footer a {
  color: white;
  text-decoration: none;
}
