.header {
  display: flex;
  justify-content: space-between;
  background-color: #7e8d85;
}
.header h1 {
  display: flex;
  justify-content: space-around;
  background: #7e8d85;
  align-items: center;
  margin: 0px;
  font-size: 6rem;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
.header div.logo {
  display: flex;
  font-size: 30px;
  padding-bottom: 1%;
}
.header div.links {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  width: 40%;
  font-size: 6rem;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
.header a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}
.header img.devlogo {
  max-width: 10%;
  height: auto;
}
.body {
  background-color: #d1d5de;
  color: red;
  width: 1% 75%;
  display: flex;
  flex-direction: column;
}
.firstP {
  border: 5px brown;
  display: flex;
  border-top: 10px solid #684943;
}
.firstP p {
  font-size: 2rem;
}
footer {
  background-color: #7e8d85;
}
footer h1 {
  display: flex;
  justify-content: space-around;
  background: #7e8d85;
  align-items: center;
  margin: 0px;
  font-size: 6rem;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
footer div.logo {
  display: flex;
  font-size: 30px;
  padding-bottom: 1%;
}
